/* feature restaurants  */

.feature_restaurants{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10rem 0;

    & h2{
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }

    & .restaurants_wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        width: 100%;

        & .restaurants_item{
            border: .1rem solid var(--border_opacity);
            position: relative;
            display: grid;
            width: 100%;
            grid-template-columns: 20rem 1fr;
            grid-template-rows: auto;

            & button{
                @apply --btn_cta;
                bottom: 2rem;
                right: 2rem;
                display: block;
            }

            & button:hover{
                background-color: rgb(170, 34, 0);
            }

            & .restaurant_content{
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                & h3{
                    font-size: 2rem;
                }

                & p{
                    font-size: 1.6rem;
                    margin: 2rem 0;
                }
            }

            & .restaurant_img{
                width: 15em;
                height: 15rem;
                padding: 1rem;
                align-self: center;
                justify-self: center;
            }

            & .restaurant_img.a{
                background: url(./img/restaurant_1.png) center center / contain no-repeat;
            }
            & .restaurant_img.b{
                background: url(./img/restaurant_2.png) center center / contain no-repeat;
            }
            & .restaurant_img.c{
                background: url(./img/restaurant_4.png) center center / contain no-repeat;
            }
            & .restaurant_img.d{
                background: url(./img/restaurant_3.png) center center / contain no-repeat;
            }
        }

        & .restaurants_item:hover{
            box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.25);
        }
    }
}   

@media (--small){
    .feature_restaurants{
        & .restaurants_wrapper{
            grid-template-columns: repeat(1,1fr);
            & .restaurants_item{
                grid-template-columns: repeat(1,1fr);
                & .restaurant_img{
                    margin: 4rem;
                }
            }
        }
    }
}