/* restaurant_selected  */

.restaurant_selected{
    background: url(./img/bg3.jpg) center center / cover no-repeat;
    height: 30rem;
    margin-top: 7rem;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 100%;
    
    & .restaurant_sel_wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        & .restaurant_sel_img{
            width: 10rem;
            height: 10rem;
            margin-right: 4rem;
        }
        
        & .restaurant_sel_img.a{
            background: url(./img/restaurant_3.png) center center / contain no-repeat;
        }
        & .restaurant_sel_img.b{
            background: url(./img/restaurant_4.png) center center / contain no-repeat;
        }
        & .restaurant_sel_img.c{
            background: url(./img/restaurant_2.png) center center / contain no-repeat;
        }
        & .restaurant_sel_img.d{
            background: url(./img/restaurant_1.png) center center / contain no-repeat;
        }

        &  .restaurant_sel_content{
            display: flex;
            color: white;
            flex-direction: column;
            width: 50%;
            & h2{
                margin-bottom: 2rem;
                font-size: 2.6rem;
            }

            & p{
                font-size: 1.6rem;
                font-weight: lighter;
                line-height: 2rem;
            }
        }
    }
}

.restaurant_selected::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--opacity);
}

@media (--extra-small){
    .restaurant_selected{
        padding: 2rem 0;
        & .restaurant_sel_wrapper{
            display: grid;
            grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
            gap: 2.5rem;
            & div{
                justify-self: center;
                margin: 0 !important;
            }
            & .restaurant_sel_content{
                width: 100% !important;
            }
        }
    }
}